* {
    padding: 0;
    margin: 0;
}
.wrapper {
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
}
.bg-fon {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.541);
}   

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    z-index: 10000;
}
span, p {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 46px;
    margin-right: 50px;
    text-align: center;
}
p {
    margin-top: 30px;
}
